services:
    n8n:
        image: n8nio/n8n
        container_name: n8n
        restart: unless-stopped
        ports:
          - "5678:5678"
        environment:
          - GENERIC_TIMEZONE=Europe/London
          - N8N_ENFORCE_SETTINGS_FILE_PERMISSIONS=true
        volumes:
          - <YOUR_PATH_DIRECTORY_TO_THIS_PROJECT>:/home/node/.n8n
